<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/logo-google.png" alt="logo google">
            <h1 class="display-4">Express.JS</h1>
            <p class="lead">Versi 4.17.1</p>
        </div>
    </div>
</div>
